*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.each{
    /* height: 400px; */

}
#show{
    text-align: -webkit-center !important;
}
#todo, #newTodo ,#todoDes{
    text-transform: capitalize;
}